* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary Colors */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  /*  Neutral Colors */
  --Dark-gray: hsl(0, 0%, 59%);
  /* font family */
  --ff-Kumbh-Sans: "Kumbh Sans", sans-serif;
}
body {
  font: size 1.125rem;
  font-family: var(--ff-Kumbh-Sans);
  min-height: 100%;
  width: 100%;
}
/* styling the card */
main {
  background: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg), var(--Dark-cyan);
  background-repeat: no-repeat;
  background-position: right 51vw bottom 25vh, left 45vw top 51vh;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.card {
  background: #fff;
  width: 30%;
  max-width: 23rem;
  border-radius: 0.8rem;
  position: relative;
  box-shadow: 10px 10px 100px hsl(185deg, 74%, 27% / 31%),
    -10px -10px 100px hsl(185deg, 74%, 27% / 31%);
  z-index: 10;
  overflow: hidden;
  transition: all 0.4s ease;
}
.card:hover {
  -moz-box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
  box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
}
.card .bgb {
  width: 100%;
  height: 127px;
  position: relative;
  background-image: url(./images/bg-pattern-card.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card .bgb img {
  background: #fff;
  width: 103px;
  height: 103px;
  border: 4px solid #fff;
  border-radius: 50%;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
/* styling vic_info */
.vic_info {
  margin-bottom: 1rem;
}
.vic_info h1 {
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  padding: 4.7rem 4.5rem 0.5rem;
}
.vic_info h1 span {
  font-weight: 400;
  color: var(--Dark-grayish-blue);
}
.vic_info > span {
  color: var(--Dark-gray);
  font-size: 15px;
  text-align: center;
  display: block;
}
/* styling the stats */
.card .stats {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--Dark-gray);
  list-style: none;
}
.card .stats > li {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 21px;
}
.card .stats .number {
  color: var(--Very-dark-desaturated-blue);
  font-size: 19px;
  font-weight: 700;
}
.card .stats .number + span {
  color: var(--Dark-gray);
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 7px;
}
/* styling the attribution */
.attribution {
  position: absolute;
  font-size: 13px;
  bottom: 2vh;
  left: 50%;
  text-align: center;
  color: rgb(220, 220, 240);
  transform: translate(-50%);
  z-index: 10;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 48.75rem) {
  .card {
    min-width: 19rem;
  }
  .attribution {
    font-size: 0.69rem;
    bottom: 1vh;
  }
}
@media screen and (max-width: 68rem) {
  .card {
    min-width: 21rem;
  }
}
/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */
